  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap%27');
  body {
      background-color: rgb(255, 253, 253);
      font-family: 'Poppins', sans-serif;
  }

  .container {
      background-color: darksalmon;
      box-shadow: 0 0 10px rgba(0,0,0,0.1); 
      border-radius: 8px;
      margin: 40px auto;
      padding: 20px;
      max-width: 800px;
  }

  h2{
      background-color: darksalmon;
  }

  .card{
      background: white;
      padding: 10px;
      margin: 10px;
      width: auto;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
      text-align: justify;
  }

  .profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #f6ebcd;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .profile {
    margin-bottom: 20px;
  }

  .skills-container {
    display: flex;     
    gap: 20px;        
  }

  .skills-box {
    flex: 1;          
    background: darksalmon;
    padding: 15px;
    border-radius: 8px;
  }

  .pendidikan-hobi {
  width: 100%;
  border-collapse: collapse;
}

.pendidikan-hobi td {
  width: 50%;
  vertical-align: top;
  padding: 10px;
}

